.CurrentWeather h1 {
  color: #9064d6;
  text-align: center;
  margin: 25px 0 0 0;
  margin-bottom: 0px;
  font-size: 55px;
}
ul {
  list-style-type: none;
  font-size: 20px;
  color: #3a444e;
}
li {
  text-align: left;
}
.dayTime {
  color: #9064d6;
  font-size: 24px;

  margin: 8px 0;
  text-align: center;
}
.temp {
  position: relative;
  top: -22px;
  text-align: center;
  font-size: 50px;
  color: #9064d6;
}
.unit {
  color: #9064d6;
  font-size: 18px;

  position: relative;
  top: -20px;
}
.currently {
  display: flex;
  justify-content: space-evenly;
}
.conditions {
  padding: 0;
}
@media (max-width: 900px) {
  .CurrentWeather h1 {
    font-size: 30px;
    margin-top: 10px;
  }
  .temp {
    font-size: 30px;
  }
  img {
    font-size: 10px;
  }
  .unit {
    color: #9064d6;
    font-size: 16px;
    position: relative;
    top: -12px;
  }
  ul {
    font-size: 18px;
  }
}
