body {
  margin: 55px;
}

h1 {
  color: #9064d6;
  text-align: center;
  margin: 25px 0 0 0;
  margin-bottom: 0px;
  font-size: 60px;
  font-family: "Raleway", sans-serif;
}
ul {
  list-style-type: none;
  font-size: 20px;
  color: #3a444e;
  font-family: "Inconsolata", monospace;
}
li {
  text-align: left;
}
.dayTime {
  color: #9064d6;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  margin: 8px 0;
  text-align: center;
}
.temp {
  position: relative;
  top: -22px;
  text-align: center;
  font-size: 50px;
  color: #9064d6;
}
.unit {
  color: #9064d6;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  position: relative;
  top: -20px;
}
.conditions {
  padding: 0;
}
